body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    font-family: 'Fjalla One', sans-serif;
  }
  
  .navbar-nav .nav-link {
    font-size: 18px !important;
    padding: 10px 15px !important;
  }
  
  .navbar-toggler-icon {
    font-size: 24px !important;
  }
  
  .navbar-brand,
  .navbar-nav .nav-link,
  .navbar-nav .dropdown-item {
    font-family: 'Fjalla One', sans-serif;
  }
  
  /* Button styling for desktop view */
  .btn-login,
  .btn-get-started {
    background-color: rgba(76, 140, 102, 0.75) !important;
    color: #fff;
    border-radius: 20px !important;
    font-size: 16px;
    padding: 8px 12px !important;
  }
  
  .btn-login:hover,
  .btn-get-started:hover {
    background-color: rgba(76, 140, 102, 0.9) !important;
  }
  
  /* Remove button styling for mobile view */
  @media (max-width: 767px) {
    .btn-login,
    .btn-get-started {
        background: none !important;
        border: none !important;
        color: #000; /* Change the color as needed */
        font-size: 18px !important;
        padding: 10px 15px !important;
        display: inline-block !important; /* Ensure the buttons are visible */
    }
  
    .btn-login:hover,
    .btn-get-started:hover {
        background: none !important;
        color: #000; /* Change the color as needed */
    }
  }
  
  @media (max-width: 991px) {
    .btn-login,
    .btn-get-started {
      display: none !important;
    }
  }

  @media (min-width: 991px) {
    .mob-only{
      display: none !important;
    }
  }
  
  
  footer {
      background-color: rgba(76, 140, 102, 0.75) !important;
      min-height: 200px !important;
      margin-top: auto;
    }
  
    footer * {
      font-family: 'Nunito Sans', sans-serif;
      color: black !important;
    }
  
    footer a {
      text-decoration: none;
    }
    
    hr {
      background-color: black;
      height: 2px;
      border: none;
    }
  
    .social-icon {
      margin-right: 10px; 
    }
  
    .newsletter-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  
    .newsletter-box form {
      margin-top: 15px; 
    }
    
    .newsletter-box input,
    .newsletter-box button {
      border-radius: 20px !important; /* Rounded corners */
    }
    
    .newsletter-box input {
      padding: 10px; 
      width: calc(100% - 10px); 
    }
    
    .newsletter-box button {
      background-color: #263238;
      color: white !important;
      padding: 10px 20px; 
      border: none;
      cursor: pointer;
      margin-left: -30px !important;
    }
    
    .newsletter-box button:hover {
      background-color: #37474f; /
    }
  
    @media (max-width: 767px) {
      /* Apply these styles only on screens smaller than 768px wide (mobile screens) */
      footer {
        position: static; 
        min-height: auto; 
      }
    }
  
    .btn-login1,
  .btn-get-started1 {
    background-color: rgba(76, 140, 102, 0.75) !important;
    color: #fff;
    border-radius: 20px !important;
    font-size: 16px;
    padding: 8px 12px !important;
  }
  
  .btn-login1:hover,
  .btn-get-started1:hover {
    background-color: rgba(76, 140, 102, 0.9) !important;
  }


.custom-box {
    border-radius: 30px;
    background-color: #F0F0F0;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
}

.custom-table {
    border-radius: 30px !important;
    margin-top: 20px;
}

.balance-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.view-more-btn {
    background-color: rgba(76, 140, 102, 0.75) !important;
    color: #fff !important;
    border-radius: 20px !important;
    font-size: 16px;
    padding: 8px 12px !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif !important;
}

/* Additional styles for welcome text */
.welcome-text {
    font-family: 'Fjalla One', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Additional styles for budget section */
.budget-details {
    margin-bottom: 20px;
}

.budget-list ul {
    list-style: none;
    padding-left: 0;
}

.budget-list li {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.budget-list li:before {
    content: "\25A1";
    color: rgba(76, 140, 102, 0.75);
    margin-right: 10px;
}

.budget-image {
    text-align: center;
    position: relative;
}

/*#budgetChart {
    max-width: 36%;
    width: 90%; 
}
*/
.budget-button {
    text-align: center;
}


.more-details-btn {
    background-color: rgba(76, 140, 102, 0.75) !important;
    color: #fff !important;
    border-radius: 20px !important;
    font-size: 16px;
    padding: 8px 12px !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif !important;
}
  

/* Additional styles for loan section */
.loan-details-left p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.loan-details-left strong {
    font-weight: bold;
}

.loan-details-right {
    text-align: center;
    position: relative;
}
#LoanPieChart {
  float: right;
    margin-bottom: 20px;
}
.loan-details-right .loan-button {
    text-align: center;
}

/* Additional styles for rewards section */
.rewards-details-left p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    margin-right: 50px; 
    display: inline-block;
}

.rewards-details-left strong {
    font-weight: bold;
    display: block;
}

.rewards-details-right {
    text-align: center;
    position: relative;
}

.rewards-details-right .rewards-button {
    text-align: center;
}

canvas{
  float: right;
}

#budgetChart, #loanPieChart {
  width: auto !important; 
  height: auto !important; 
  max-width: 100% !important; 
  margin: 0 auto; 
 }
 
 .loan-details-right {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
 }
 
 canvas {
  max-width: 100%; 
  height: auto; 
 }

 @media (max-width: 768px) {
  #budgetChart, #loanPieChart {
     width: 100%; 
     height: auto; 
  }
 }
 
 .chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 300px; 
  margin: 0 auto;
}

#budgetChart {
  width: 100%; 
  height: auto; 
}

.loan-section {
  border-radius: 30px;
    background-color: #F0F0F0;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
}

.btn-custom {
  background-color: rgba(76, 140, 102, 0.75) !important;
  color: #fff !important;
  border-radius: 20px !important;
  font-size: 16px;
  padding: 8px 12px !important;
  font-family: 'Fjalla One', sans-serif !important;
  margin-top: 20px !important;
}

.btn-custom:hover {
  background-color: rgba(76, 140, 102, 0.9) !important;
}

h1, h4 {
  font-family: 'Fjalla One', sans-serif;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

canvas{
  float: right;
  width: 50% !important; /* Make the canvas take the full width of its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 600px; /* Set a maximum width */
  max-height: 400px;
}

.no-loan{
  background-color: #F0F0F0;
  border-radius: 19px;
  padding: 3%;
  margin: 3%;
}

.custom-box2{
  border-radius: 30px;
    background-color: #F0F0F0;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
 }

 h1{
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 20px !important;
 }

 .custom-box1{
  border-radius: 30px;
    background-color: #F0F0F0;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
 }
